<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <style>
      html, body {
        height: 100%;
        padding: 0;
        margin: 0;
      }
      #map {
        width: 50%;
        height: 50%;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>

    <p id="coordinates"></p>

    <br>
    <hr>
    <br>

    <% if(!auth) { %>
    <a href="/login/" id="login">Login</a>
    
    <% } else { %>
      <label>FOR TESTING PURPOSES:</label>
      <textarea id="longitude">Enter longitude</textarea>
      <textarea id="latitude">Enter latitude</textarea>
      <button onclick="setCoordinates()">Config User Coordinates Manually</button>
      <br><br>
    <a href="/logout/" id="logout">Logout</a>
    <% } %>
    
    
    <pre><%= JSON.stringify(user, null, 2) %></pre>

    <script>

        // initialize Leaflet
        var map = L.map('map').setView({lon: 0, lat: 0}, 2);

        // add the OpenStreetMap tiles
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom: 19,
          attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
        }).addTo(map);

        // show the scale bar on the lower left corner
        L.control.scale({imperial: true, metric: true}).addTo(map);
      


      var coordinates = document.getElementById("coordinates")
      var longitude
      var latitude
      var users

      var login = document.getElementById("login")

      function getCurrentLocation() {
        if (navigator.geolocation) {
          if (login) {
            changeCoordinates(navigator.geolocation.getCurrentPosition(changeCoordinates))
          } else {
            changeCoordinates2(navigator.geolocation.getCurrentPosition(changeCoordinates2))
          }
        } else {
          coordinates.innerHTML = "Geolocation not supported!"
        }
      }

      function changeCoordinates(pos) {
        longitude = pos.coords.longitude
        latitude = pos.coords.latitude

        
        coordinates.innerHTML = "Your current location: Latitude: " + latitude + "\tLongitude: " + longitude +"<br>Login to see last 5 users locations!"
        L.marker({lon: longitude, lat: latitude}).bindPopup('Your current location').addTo(map);
      }

      function changeCoordinates2(pos) {
        longitude = pos.coords.longitude
        latitude = pos.coords.latitude

        var user = <%- JSON.stringify(user, null, 2) %>

            users = <%-JSON.stringify(users)%>


            console.log()
            var sameUser = false;

            
            user["longitude"] = longitude
            user["latitude"] = latitude
            if (users == undefined) {
              users = []
            } 
              for (i = 0; i < users.length; i++) {
                if (users[i].email == user.email && users[i].updated_at == user.updated_at) {
                  sameUser = true
                }
              }
              if (sameUser == false) {
                for (i = 0; i < users.length; i++) {
                  if (users[i].email == user.email) {
                    users.splice(i, 1)
                  }
                }
                users.push(user)
                if (users.length > 5) {
                  users.shift()
                }
                var xhr = new XMLHttpRequest();
                xhr.open("POST", '/addUser', true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send(JSON.stringify({
                  users: users,
                }));
              }

        for (i = 0; i < users.length; i++) {
          L.marker({lon: users[i].longitude, lat: users[i].latitude}).bindPopup(users[i].name + " -> time_of_login: " + new Date(users[i].updated_at).toLocaleString()).addTo(map);
        }
        
        coordinates.innerHTML = "Your current location: Latitude: " + latitude + "\tLongitude: " + longitude

      }
      
      getCurrentLocation()


      function setCoordinates() {
        var lat = document.getElementById("latitude").value
        var lon = document.getElementById("longitude").value

        var user = <%- JSON.stringify(user, null, 2) %>

        console.log()
        for (let i = 0; i < users.length; i++) {
          if (users[i].email == user.email) {
            users[i].longitude = lon
            users[i].latitude = lat
          }
        }
        var xhr = new XMLHttpRequest();

        xhr.open("POST", '/addUser', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({
           users: users,
        }));
      }
      
    </script>
  </body>
</html>